# ==========================
# Virtual Environment
# ==========================
venv/

# ==========================
# Python Cache
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Output Files
# ==========================
outputs/
*.log

# ==========================
# Streamlit
# ==========================
.streamlit/secrets.toml

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

.pytest_cache/